@import url("https://fonts.googleapis.com/css2?family=Piazzolla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* Sample CSS for the WHY word */

.whyWLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

.whyHLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Ceviche One", sans-serif;
}

.whyYLetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}

/*Style 1*/

.didDLetter,
.developerPLetter,
.frontendOLetter,
.gardeningRLetter,
.becauseBLetter,
.wantedELetter,
.skillsILetter,
.question-mark {
  font-size: 40px;
  font-weight: 400;
  color: blue;
  text-decoration: underline;
  text-transform: capitalize;
  font-family: "Gravitas One", serif;
}

/*Style 2*/

.didILetter,
.frontendRLetter,
.developerVLetter,
.gardeningGTwoLetter,
.theyHLetter,
.wantedNLetter {
  font-size: 25px;
  font-weight: bold;
  color: #077748;
  text-decoration: overline underline;
  text-transform: lowercase;
  font-family: "UnifrakturMaguntia", cursive;
}

/*Style 3*/

.didDTwoLetter,
.developerDLetter,
.developerRLetter,
.upULetter,
.gardeningNLetter,
.improveMLetter,
.exclamation-mark {
  font-size: 60px;
  font-weight: normal;
  color: #dd6909;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Oi", serif;
}

/*Style 4*/

.theTLetter,
.frontendFLetter,
.frontendDLetter,
.takeALetter,
.upPLetter,
.gardeningNTwoLetter,
.becauseULetter,
.wantedWLetter,
.improveELetter,
.theirELetter,
.rootOLetter {
  font-size: 50px;
  font-weight: 700;
  color: aquamarine;
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: "Piazolla", serif;
}

/*Style 5*/

.theHLetter,
.frontendELetter,
.developerLLetter,
.wantedALetter,
.toTLetter,
.theirTLetter,
.skillsLLetter {
  font-size: 75px;
  font-weight: 200;
  color: rgb(255, 0, 0);
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Raleway Dots", sans-serif;
}

/*Style 6*/

.theELetter,
.hyphen,
.developerOLetter,
.takeTLetter,
.gardeningGLetter,
.toOLetter,
.rootOTwoLetter,
.skillsSTwoLetter {
  font-size: 40px;
  font-weight: normal;
  color: #e0f005;
  text-decoration: overline underline;
  text-transform: lowercase;
  font-family: "Ceviche One", sans-serif;
}

/*Style 7*/

.frontendNLetter,
.developerELetter,
.gardeningALetter,
.theyYLetter,
.improveOLetter,
.skillsSLetter {
  font-size: 65px;
  font-weight: 700;
  color: aliceblue;
  text-decoration: line-through overline underline;
  text-decoration-color: #9004ee;
  text-transform: uppercase;
  font-family: "UnifrakturMaguntia", cursive;
}

/*Style 8*/

.frontendTLetter,
.developerEThreeLetter,
.takeKLetter,
.becauseELetter,
.becauseETwoLetter,
.improveRLetter,
.rootRLetter {
  font-size: 35px;
  font-weight: 400;
  color: rgb(0, 255, 255);
  text-shadow: 2px 2px 10px rgb(221, 15, 50);
  text-decoration: none;
  text-transform: none;
  font-family: "Oi", serif;
}

/*Style 9*/

.frontendNTwoLetter,
.takeELetter,
.gardeningILetter,
.becauseCLetter,
.improveILetter,
.theirRLetter,
.rootTLetter {
  font-size: 75px;
  font-weight: 700;
  color: #00c900;
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: "Raleway Dots", sans-serif;
}

/*Style 10*/

.developerETwoLetter,
.gardeningDLetter,
.becauseSLetter,
.theyTLetter,
.wantedDLetter,
.improveVLetter,
.theirHLetter,
.skillsKLetter {
  font-size: 50px;
  font-weight: normal;
  color: rgb(235, 8, 8);
  text-decoration: overline dotted;
  text-transform: lowercase;
  font-family: "UnifrakturMaguntia", cursive;
}

/*Style 11*/

.gardeningELetter,
.becauseALetter,
.theyELetter,
.wantedTLetter,
.improvePLetter,
.theirILetter,
.skillsLTwoLetter {
  font-size: 55px;
  font-weight: 400;
  color: rgb(128, 4, 211);
  text-shadow: 0 0 4px white;
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Gravitas One", serif;
}
